.navbar-nav {
    --bs-scroll-height: 200px
}


a {
    text-decoration: none;
    
}

.headerScroll {
    background-color: #fff !important;
    color: #000;

}
#header-shop{
    transition: all 1s;
}