*:focus,
*:active {
    outline: 0 !important;
    box-shadow: 0 !important;
}

::-webkit-input-placeholder {
    font-size: 1rem !important;
}


body {
    background: linear-gradient(100deg, rgba(68, 100, 173, 1), rgba(74, 21, 110, 1));
    color: white;
    height: 100vh;
    margin-bottom: 2rem;
    overflow-y: scroll !important;
}

header p {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem !important;
    font-weight: bold;
    text-shadow: 2px 2px 15px rgb(176, 230, 255);
}

#button-addon1 {
    font-size: 30px !important;
    padding: 0 16px;

}

input[type="text"] {
    font-size: 1rem !important;
    font-weight: bolder !important;
}

input[type="text"].completed {
    text-decoration: line-through !important;
    color: #777 !important;
    background: #ccc;
}

.btn:hover {
    background: #455BA6 !important;
    color: #fff !important;
}

.form-select-lg {
    font-size: 1rem !important;
}